* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Geo Sans';
  font-style: light;
  font-weight: 300;
  src: url('./fonts/GeosansLight.woff') format('woff');
}

@font-face {
  font-family: 'TypeCond';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/typewcond_regular.otf') format('opentype');
}

html {
  max-width: 100%;
  scroll-behavior: smooth;
}

body {
  font-family: Geo Sans, sans-serif;
  color: whitesmoke;
  background-color: #211a23;
}

.form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 1024px) {
  .form {
    flex-direction: column;
  }
}
