* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Geo Sans';
  font-style: light;
  font-weight: 300;
  src: url('./fonts/GeosansLight.woff') format('woff');
}

@font-face {
  font-family: 'TypeCond';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/typewcond_regular.otf') format('opentype');
}

html {
  scroll-behavior: smooth;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  font-family: Geo Sans, sans-serif;
  color: whitesmoke;
  background-color: #211a23;
  /* height: 100%; */
}

.navlink {
  background-color: transparent;
  border-bottom: 3px solid transparent;
  color: magenta;
  cursor: pointer;
  font-family: 'Source Code Pro', monospace;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 1pt;
  margin: 20px;
  text-decoration: none;
}
.navlink:hover {
  padding-bottom: 5px;
  /* color: whitesmoke; */
  cursor: pointer;
}
